.content-wrapper {
  margin-left: 52px;
  height: calc(100vh - 66px);
}

.comment-container {
  .comment-section {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
  .comment-body {
    padding: 20px 30px;
    @media (max-width: 767px) {
      padding: 20px 8px;
    }
  }
}
