<div class="content-wrapper">
  <div class="comment-container">
    <div class="col-md-10 comment-body">
      <div class="row">
        <div class="col-xs-12">
          <h4>Comments</h4>
        </div>
        <div class="col-xs-12">
          <div class="comment-section">
            <div class="comment-form">
              <comment-form (usercomment)="receiveComment($event)"></comment-form>
            </div>
          </div>
        </div>
      </div>
      <comments [comment_data]="comments"></comments>
    </div>
  </div>
</div>
